.content-wrapper{
    background-size: 100% 100%;
    padding-bottom: 62px;
}

#welcome{
    .dashboard{
        padding: 30px 0;
        background-size: 100% 100%;
        margin-bottom: 10px;
        .page_intro{
            padding: 10px 0;
            background-color: rgba(0,0,0,0.5);
            text-align: center;
            //font-size: 16px;
            color: #ffffff;
            img{
                width: 70px;
            }
            p{
                margin-bottom: 0;
                margin-top: 5px;
                font-size: 20px;
            }
        }
    }
}

#mobile_header{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
#mobile_footer{
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    .footer_list{
        padding: 10px 0;
        width: 20%;
        float: left;
        text-align: center;
        p{
            margin: 0;
            color: #666666;
        }
    }
    img{
        width: 20px;
    }
}